*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
body {

  font-family: 'Prompt', sans-serif;
  color: white;
  background: #202731;
  overflow-x: hidden;
  
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  text-align: center;
} 

/* nav */
.topnav {
 
  /* overflow: hidden;
  background-color: #222831;
  padding: 15px; */
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

.topnav a {
  /* float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; */
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}





/* wave */

.custom-shape-divider-top-1667405955 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1667405955 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 163px;
}

.custom-shape-divider-top-1667405955 .shape-fill {
  fill: #50577A;
}






.custom-shape-divider-bottom-1667411097 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1667411097 svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 125px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1667411097 .shape-fill {
  fill: #50577A;
}
/* per section */
/* first section */
.first{
  background-color: #404258;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  
}
.socials {
  padding: 30px 0 30px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
#soc{
  padding: 0.5em;
  font-size: 50px;
  overflow: hidden;
}
li{
  overflow: hidden;
}
.fa-facebook{
  color: #3b5998;
}

#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /*  */
  
}
.fa-github{
color: #171515;
}
.fa-steam{
  color: #000000;
}

/* second section */
.second{
  background-color: #50577A;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
/* third section */
.third{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

